body {
    margin: 0;
    font-family: "Audiowide", Helvetica, sans-serif;
    color: rgb(102, 102, 236);
}



#title {
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
}

.informationGrid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-auto-rows: auto;
}

.informationGrid > div{
    border: solid;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: auto  auto;
    border: solid;
    margin: 2rem;
    height: 200rem;
}

.leftDiv {
    display: grid;
    grid-template-columns: auto  auto;
    max-width: 40rem;
    min-width: 40rem;
}


.drawingCanvasDiv #drawingCanvas {
    background-color: black;
    cursor: pointer;
}

.drawingCanvasDiv #rstButton {
    background-color: rgb(102, 102, 236);
    font-family: "Audiowide", Helvetica, sans-serif;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

#modelCanvas{
    max-width: 100%;
    min-width: 40rem;
    background-color: rgb(102, 102, 236);
    height: 20%;
}
