body {
    margin: 0;
    font-family: "Audiowide", Helvetica, sans-serif;
    color: rgb(107, 164, 184);
}



#title {
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
}

.informationGrid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-auto-rows: auto;
}

.informationGrid > div{
    box-shadow: 4px 4px 20px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: auto  auto;
    margin: 2rem;
    height: 200rem;
}

.leftDiv {
    display: grid;
    grid-template-columns: auto  auto;
    max-width: 40rem;
    min-width: 40rem;
}


.drawingCanvasDiv #drawingCanvas {
    background-color: black;
    cursor: pointer;
}

.drawingCanvasDiv #rstButton {
    background-color: rgb(107, 164, 184);
    color: white;
    font-family: "Audiowide", Helvetica, sans-serif;
    border-radius: 0.30rem;
    border: none;
    box-shadow: 4px 4px 20px rgb(107, 164, 184);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

#modelCanvas{
    background-color: rgb(185, 211, 220);
    max-width: 100%;
    min-width: 40rem;
    box-shadow: 10px 10px 20px rgb(107, 164, 184);
    height: 20%;
}
